<a href="https://colab.research.google.com/github/scarioscia/modeling_biological_populations/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Writing in Python

In Python, every line is evaluated as an independent statement. Here is a simple line of code in Python, making use of the `print()` function. We will see this function repeatedly – it takes anything within the parenthesis and prints it out for the user to see:

In [ ]:
print("Hello World")

In Python we can use the `#` symbol to create a comment. Any text in the line of code following the `#` will be ignored by Python. Comments are great for writing out in understandable terms what you are trying to do.

In [ ]:
# None of the code in this block will be evaluated because every line is commented out
# print("Hello World")

A comment can be made partway through a line.

In [ ]:
my_number = 1 + 1 + 1 # + 1 + 1 + 1 + 1 + 1
print(my_number)

In the first line of this code block, only the first three addition statements are evaluated because everything after is commented out.

# **Data Types**

In Python, we have the ability to work with many different types of data. Here are some of the basic data types that are most common:

***Integers***
Integers are whole numbers, without a decimal point. Here are some examples of integers:

* 2
* -3
* 0 

***Floats***
Floats are numbers with a decimal point. Here are some examples of floats:

* 1.2
* -3.0
* 26/3 (This one doesn't actually have a decimal point written in by me, but the expression evaluates to 8.666)

***Strings***
Strings are character data enclosed by single `'` or double `"` quotation marks. *Any* text enclosed by quotes will be treated as a string. Here are some strings:

* "You're a third rate duelist with a fourth rate deck"
* "85.3" 

Note the second example – `85.3` is a float; `"85.3"` is a string.

**Booleans**

A Boolean has two possible values: `True` and `False`.

To see an example of a Boolean in action, run the following code block, which will evaluate whether the expression `5 < 10` is true:

In [ ]:
print(5 < 10)

# **Variables**

If we want to save our data to actually make use of it, we need to store it as a **variable**. Variables consist of:

* A variable name
* The data being saved 

A variable is assigned using the equals sign, with this general syntax:

`data_name = data`

The data name can be *almost* anything. Here are the rules to consider when naming a variable: 

* A variable name must start with a letter or underscore
* A variable name can only consist of letters, numbers, or underscores
* Variables are case sensitive (i.e. Python would interpret `my_number`, `MY_NUMBER`, and `My_Number` as different variables) 
* Python has a set of  "reserved words" that cannot be used as variable names. These are words that already have a set meaning in Python, such as `True`, `False`, `for`, and `if`. A full list can be found here: https://www.programiz.com/python-programming/keywords-identifier

Use the space below to try out creating variables. We've written out a couple to get you started; add a few more for practice.

In [ ]:
year = 1738
composer = "Handel"

# Add some more below

One really important thing to remember about variables is that if you use the same variable name twice, the variable is overwritten, i.e. the old value of the variable is deleted and a new one is assigned. 

In the code block below, please do the following:

* assign the variable `my_number` to equal 12
* assign the variable `my_number` to equal 48
* print out the value of `my_number`. 

What number do you expect to see when you run your code?

In [ ]:
# Your code here

In [ ]:
#@title <font color='green'>Run this cell to see solution</font>

print("CODE:\n\nmy_number = 12\nmy_number = 48\nprint(my_number)\n\nRESULT:\n")

my_number = 12
my_number = 48
print(my_number)

# Mathematical Operations

A lot of mathematical operations in Python are straightforward. Here are some of the basic operations we can perform: 

* `+` and `-` – addition and subtraction 
* `*` and `/` – multiplication and division
* `**` – Exponentials

Here are some examples:

In [ ]:
print(8/4)
print(10 + 3)
print(10**2)

Note that mathematical operations can convert an integer into a float:

In [ ]:
print(5/2)
print(3 + 2.2)

We can save the output of an expression as a variable:

In [ ]:
my_product = 2 * 10
print(my_product)

We can also perform all mathematical operations on a variable that has a numerical value:

In [ ]:
number1 = 7
print(number1 + 2)
print(number1 / 5)
print(number1 ** 2)

And we can use mathematical operations to change the value of a variable:

In [ ]:
number2 = 36
number2 = number2 / 18
print(number2)

**Practice** 

In the code block below, try the following:

1. Add two numbers together
2. Divide two numbers 
3. Take an exponent 
4. Find the product of two numbers, storing the result as a variable.

In [ ]:
# Your code goes here

In [ ]:
#@title <font color='green'>Run this cell to see solution</font>

print("1. Add two numbers together\nprint(2 + 3.3)")
print(2 + 3.3)

print("\n2. Divide two numbers\nprint(18/2)")
print(18/2)

print("\n3. Take an exponent\nprint(7**3)")
print(7**3)


print("\n4. Find the product of two numbers, storing the result as a variable.\nmy_product=2*3\nprint(my_product)")
my_product=2*3
print(my_product)

**Practice**

Multiply an integer by a float, saving the result as a variable. 

Raise your variable to the power of 3, and overwrite your variable with this value.

In [ ]:
# Your code goes here

In [ ]:
#@title <font color='green'>Run this cell to see solution</font>


print("my_var = 5 * 3.3")
print("my_var = my_var ** 3")
print("print(my_var)")

# **Comparisons** 

We can use the following syntax to compare values:

* `<` and `>` to compare greater than/less than
* `<=` and `>=` for greater than or equal to/less than or equal to
* `==` checks if two values are equal. `!=` checks that two values are different. 

These comparisons will always return a Boolean, i.e. either `True` or `False`. 

Note that a single equals sign `=` is used to assign values. So `var1 = 3` is setting `var1` equal to 3. However, a double equals sign `==` is used to compare values. `var1 == 3` is checking if the value of `var1` is 3. 

Here are some examples:

In [ ]:
my_number = 25

print(my_number < 17) # is my number less than 17?
print(my_number >= 14) # is my number greater than or equal to 14?
print(my_number == 6) # is my number equal to 6?
print(my_number != 3) # is my number NOT equal to 3?

**Practice**

Create a new variable whose value is any integer. 

Multiply it by 5, saving the value of the product

Take the square root of the number check if the result is less than or equal to 10.

In [ ]:
# Your code goes here

In [ ]:
#@title <font color='green'>Run this cell for a hint</font>

print("Taking the square root is the same as raising to the power of 0.5")
print("x ** 0.5 takes the square root of x")

In [ ]:
#@title <font color='green'>Run this cell for the solution</font>

print("num = 3 ")
print("num = num * 5")
print("num = num ** 0.5")
print("print(num >= 10)")
print("\nOr a slightly more consise way to do this:\n")
print("num = 3")
print("num = num * 5")
print("print((num ** 0.05) >= 10)")

# **Order of Operations**

Python follows the usual mathematical order of operations. And like usual in math, we can use parenthesis `()` to enforce a specific order. Here's a few examples:

In [ ]:
num1 = 2 + 3 / 3 ** 2 # Exponential done first, then division, then addition
num2 = 2 + (3/3) ** 2 # First we divide 3/3 = 1; then we raise to the second power, then we add
num3 = (2 + 3) / 3 ** 2 # First we add, then we take the exponent, then we divide

print(num1)
print(num2)
print(num3)

How do comparisons fit in to this? Comparisons happen after arithmetic operations. In the following code block, the additions on either side of the `>` sign are evaluated prior to the comparison.

In [ ]:
print(1 + 2 > 3 - 1)

That said, it is good practice that improves the clarity of your code to use parenthesis to show what is being compared, as such:

In [ ]:
print( (1 + 2) > (3 - 1) )

# **String Manipulations**

So far, we've talked about how to manipulate numeric values. As it turns out, we can use some of the same operations to manipulate strings:

* `+` will combine two strings

In [ ]:
s1 = "yes"
s2 = " and"
longer_string = s1 + s2
print(longer_string)

* `==` and `!=` will compare the equality of two strings

In [ ]:
my_string = "calico"

print(my_string == "tabby")
print(my_string != "Calico") # Note that string comparisons are case sensitive!

Use the code block below to test this out – combine some strings together; use `==` and `!=` to compare strings to each other:

In [ ]:
# Your code here

# Lists

So far, when creating variables, each variable has stored a single piece of information, e.g. a single integer or a discrete string. What if we want to store multiple items together? We can use a list.

A list is a sequential group of variables, denoted in Python by square brackets `[]`, with individual entries separated by commas `,`. A few of the neat properties of lists are: 

* Lists have a preserved order. The list `[1, 5, 3, 7]` will always preserve those numbers in the same order. 
* Lists can mix data types. `["apple", 13, 5.3, False]` is a valid list which contains every data type we've seen so far.
* Lists can also contain other lists: `["a string", 12, [3, 2], 18]` 
* Lists can have identical values repeatedly. This is valid list design: `["tomato", "tomato", "tomato", 3, "tomato"]`

Here's an example of a list being initialized:

In [ ]:
my_list = ["Lorem", "ipsum", "dolor", "sit", "amet"]

**Practice**

In the space below, please make a list with at least three entries and at least two different types of data. Store your list as a variable and run the code block.

In [ ]:
# Your code here

What if we want to extract a specific value from a list? We can use indexing. To index in Python, we use the following syntax: `variable_name[index]`, with index being an integer refering to the position we wish to extract.

In [ ]:
my_list = ["Lorem", "ipsum", "dolor", "sit", "amet"]
print(my_list[1])

Notice that when we printed the item at position `1`, we printed out the *second* entry in `my_list`. This is because in Python, **indexes start at 0**. So to print out the first entry, we would want `my_list[0]`. 

**Practice**

Try out string indexing – using the list you made above, trying using string indexing to print out just the first item.

In [ ]:
# Your code here

A couple interesting things we can do with indexing: 

* To print multiple consecutive number, we can provie two numbers separated by a colon `:`. Note that the first number is **inclusive** and the second number is **exclusive**. For example, in the sample below, we provide the index `1:3`. This prints out the item at position 1 ('ipsum'), the item at position 2 ('dolor') and *not* the item at position 3 ('sit').

In [ ]:
print(my_list[1:3])

* We can index in reverse. To index from the end of the list, we use negative numbers.

In [ ]:
print(my_list[-1]) # Print the last item from the end 
print(my_list[-2]) # Print the second to last item
print(my_list[-3]) # Print the third to last item

What if we have a list within a list? Consider the following list: 

> Indented block 
`my_list = [1, 2, [3, 4], 5]`

How would we point to the number 3 in this list?

First, we can point to the interior list. The interior list is the third item in the list, so it is at position 2 (remember, indexing in Python starts at 0). So we can access the interior list with `my_list[2]`. 

Within the interior list, 3 is the first item, so it is at position 0. It can be accessed with the syntax `my_list[2][0]`

In [ ]:
my_list = [1, 2, [3, 4], 5]
print(my_list[2])
print(my_list[2][0])

**Practice**

In the code block below, I've provided you with a list. For practice, please do the following: 
 
1. Print the second item from the list
2. Print the third and fourth items using a colon

In [ ]:
practice_list = [17, "cherry", 5.4, ["bridges", "balloons"], 3.14]

# Print the second item

# Print the third and fourth items using a colon

# Print the final item

# Print the second entry in the nested list ("balloons")

In [ ]:
#@title <font color='green'>Run this cell for the solution</font>
practice_list = [17, "cherry", 5.4, ["bridges", "balloons"], 3.14]

print("# Print the second item\nprint(practice_list[1])")
print(practice_list[1])

print("\n# Print the third and fourth items using a colon\nprint(practice_list[2:4])")
print(practice_list[2:4])

print("\n# Print the final item\nprint(practice_list[-1])")
print(practice_list[-1])

print("\n# Print the second entry in the nested list (\"balloons\")\nprint(practice_list[3][1])")
print(practice_list[3][1])

One last interesting thing we can do with lists is we can add entries to the end of a list. We do this using something called `append()`, which is used with the following syntax:

`list_name.append(item)`

For an example:

In [ ]:
my_list = [1, 2, 3] # Making a list with three items
print(my_list)

my_list.append('apple') ## Here, I'm adding an item to the list
print(my_list)

**Practice**

In the code block below:


1. Make a list containing at least 4 elements. Have at least one float and one string among the list items. 
2. Print out the final element.
3. Add an element to the end of your list.
4. Print out the final element.

In [ ]:
# Your solution here

In [ ]:
#@title <font color='green'>Run this cell for a possible solution</font>
print("1. Make a list containing at least 4 elements\nsolution = [1, 3.4, \"Cassiopeia\", 10]")
solution = [1, 3.4, "Cassiopeia", 10]
print("\n2. Print out the final element\nprint(solution[-1])")
print(solution[-1])
print("\n3. Add an element to the end of your list\nsolution.append(\"Andromeda\")")
solution.append("Andromeda")
print("\n4. Print out the final element\nprint(solution[-1])")
print(solution[-1])